# Ignore all .env files
*.env

# Optional: ignore specific .env files in backend and frontend
backend/.env
.env.local
node_modules
.netlify
backend/milo-your-friend-b238829da88a.json
dist
backend/venv
frontend/venv
bun.lockb
